$bash_heigth: 70px;
.studio{
  height: 100vh;
  width: 100vw;
}
.header{
  height: 50px;
  background-color: white;
  display: flex;
  -webkit-box-shadow: 5px 10px 28px -3px rgba(191,191,191,0.78); 
  box-shadow: 5px 10px 28px -3px rgba(191,191,191,0.78);
}
.ui-sec-logo{
  height: 100%;
  width: 70px;
  background-color: #0D2E75;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}
.body{
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
}
.config {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
/*Botões dp menu*/
.buttons-fun{
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Parte que contem o drag */
.tools{
  height: 100%;
  width: $bash_heigth;
  background-color: #0D2E75;
}
.body-page{
  width: 100%;
  display: flex;
}
.aria-design{
  width: calc(100% - 350px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aria-components{
  width: 350px;
  background-color: #0D2E75;
}
.page-body-drag{
  margin-top: 10px;
  width: 60%;
  height: calc(100% - 10px);
  overflow: hidden;
  background-color: white;
  position: relative;
  .position{
    position: relative;
  }
}
.position{
  position: relative;
  border: solid 1px #ec1313;
}
.ui-sec-title{
  align-items: center;
  height: 100%;
  justify-content: center;
  display: flex;
  margin-left: 20px;
  font-size: 32px;
}
.ui-side-butons{
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-side-butons-btn{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.ui-side-butons-btn:hover{
  background: #082563;
}
.page-body-drag:hover{
  div{
    background-color: #082563;
  }
}