.ui-dash{
  height: 100%;
}
.ui-header{
  height: 40%;
}
.ui-header-card{
  padding: 20px;
  color: white;
  margin-top: 50px;
  background: linear-gradient(118.55deg, rgba(166, 211, 244, 0.2) 6.72%, rgba(0, 0, 0, 0) 87.31%), rgba(38, 110, 163, 0.72);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  height: 100%;
  border-radius: 20px;
  margin-left: 30px;
}
.ui-body{
  height: 60%;
  padding-left: 30px;
  padding-right: 30px;
}
.ui-text-header{
  font-size: 40px;
}
.ui-information-header{
  font-size: 20px;
}
