.ui-button:hover{
  background-color: #88a8be;
}
.ui-person-button{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 10px;
}
.p-input-filled{
  border: solid 1px white;
  border-top: none;
  border-left: none;
  border-right: none;
  color: aliceblue;
  background: rgba($color: #ffffff, $alpha: 0.0)
}
.p-input-filled:focus{
  border: solid 0px #0D2E75;
}
.margin-default-field{
  margin-top: 30px;
}

.wc:hover{
  border: #ffffff;
  outline: 2px solid #266EA3;
  cursor: move;
  .square-size{
    width: 7px;
    height: 7px;
    position: absolute;
    background-color: #266EA3;
  }
  .square-size-top-left{
    left: -4px;
    top: -4px;
    cursor: se-resize;
  }
  .square-size-top-right{
    right: -4px;
    top: -4px;
    cursor: sw-resize;
  }
  .square-size-bottom-left{
    left: -4px;
    bottom: -4px;
    cursor: sw-resize;
  }
  .square-size-bottom-rigth{
    right: -4px;
    bottom: -4px;
    cursor: se-resize;
  }
}
